################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
hasher2/output/
releases/
backup/
.gitignore