################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
hasher/output/
releases/
backup/
.gitignore
hasher/depends.exe
hasher/depends.dll