################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
hasher/outputS/
releases/
backup/
.gitignore